<script lang="ts">
    import { mobileDeviceCheck } from "../mobile-device-checker";
    import imageCompression from "browser-image-compression";

    export let addFile;

    let isDesktop = !mobileDeviceCheck();
    let inputFiles;
    let fileInputElement;
    let loading = false;

    const compressionConfig = { maxSizeMB: 0.5, useWebWorker: true };

    const uploadPhoto = async () => {
        loading = true;
        const { name, size, type } = inputFiles[0];
        const compressedFile = await imageCompression(
            inputFiles[0],
            compressionConfig
        );
        const base64File = await imageCompression.getDataUrlFromFile(
            compressedFile
        );

        await addFile({
            name,
            type,
            size: compressedFile.size ?? size,
            image: base64File,
        });
        loading = false;
        inputFiles = "";
    };

    let imageCapture;
    let takePhoto;
    if (isDesktop) {
        navigator.mediaDevices
            .getUserMedia({ video: true })
            .then((mediaStream) => {
                const track = mediaStream.getVideoTracks()[0];
                const ImageCapture = (window as any).ImageCapture;
                imageCapture = new ImageCapture(track);
            });

        takePhoto = async () => {
            loading = true;
            const image = await imageCapture.takePhoto();
            const { size, type } = image;
            const name = "Captured: " + Date.now();
            const compressedImage = await imageCompression(
                image,
                compressionConfig
            );
            const base64Image = await imageCompression.getDataUrlFromFile(
                compressedImage
            );
            await addFile({
                name,
                type,
                size: compressedImage.size ?? size,
                image: base64Image,
            });
            loading = false;
        };
    }
</script>

<input
    type="file"
    bind:files={inputFiles}
    on:change={uploadPhoto}
    bind:this={fileInputElement}
    style="display: none;"
/>
<section class="footbar">
    <button
        class="upload"
        on:click={() => fileInputElement.click()}
        disabled={loading}>{loading ? "Loading" : "Upload"}</button
    >
    {#if isDesktop}
        <button class="upload" on:click={() => takePhoto()} disabled={loading}
            >Capture</button
        >
    {/if}
</section>

<style>
    .footbar {
        display: block;
        position: sticky;
        bottom: 0;
        background: #ecf0f1;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0 20px #00000022;
        padding: 0.5rem;
    }

    .upload {
        display: inline-block;
        background: #ecf0f1;
        color: #2c3e50;
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: 0 0 10px #bdc3c7;
        border-radius: 20px;
        width: 7rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
        cursor: pointer;
        transition: 100ms;
    }

    .upload ~ .upload {
        margin-left: 1rem;
    }

    .upload:active {
        background: white;
        box-shadow: 0 0 1px #eee;
        margin: 0;
    }
</style>
