<script lang="ts">
    import type { Readable } from "svelte/store";
    import type { FileData } from "./file.store";

    export let files: Readable<FileData[]>;
</script>

<!-- svelte-ignore missing-declaration -->
{#if $files.length === 0}
    <div class="nothing">Seems empty, why not add some photos?</div>
{:else}
    <section class="images">
        {#each [...$files].reverse() as { message, created } (created)}
            <div class="feed-item">
                <img src={message.image} alt={message.name} />
                <p class="image-name">{message.name} : {message.size}</p>
                <p class="image-created">{new Date(created)}</p>
            </div>
        {/each}
    </section>
{/if}


<style>
    .nothing {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        color: #aaa;
    }

    .feed-item {
        background: #ecf0f1;
        height: max-content !important;
        overflow: auto;
        box-shadow: 0 0 20px #00000022;
        max-width: 500px;
        margin: 0.5rem auto;
    }

    .feed-item img {
        display: block;
        margin: auto;
        width: 100%;
        box-shadow: 0 0 8px #00000022;
    }

    .images {
        box-sizing: border-box;
        overflow: auto;
        width: 100%;;
        padding: 0 1rem;
        flex-grow: 1;
    }

    .image-name {
        color: #34495e;
        font-weight: bold;
        text-align: center;
        margin-top: .5rem;
        margin-bottom: 0;
    }

    .image-created {
        color: #999;
        text-align: center;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: .5rem;
    }
</style>
