<script lang="ts">
	import fileStore from "./File/file.store";
	import File from "./File/File.svelte";
	import AddFiles from "./File/AddFiles.svelte";
</script>

<h1>Sociel <span>Medier</span></h1>

{#await fileStore}
	<div class="loading" />
{:then [files, addFile]}
	<main>
		<File {files} />
	</main>

	<AddFiles {addFile} />
{/await}

<style>
	main {
		display: flex;
		background: #ecf0f1;
		padding-bottom: 80px;
		height: 100%;
		flex-direction: column;
		align-items: center;
	}

	.loading {
		display: block;
		position: absolute;
		top: calc(50% - .5rem);
		left: calc(50% - .5rem);
		height: 1rem;
		width: 1rem;
		animation: jump 500ms ease-in-out;
		animation-iteration-count: infinite;
	}

	@keyframes jump {
		0% {
			background: #ff7675;
			margin-top: 0;
		}
		50% {
			background: #55efc4;
			margin-top: -1rem;
			transform: rotate(90deg);
		}
		100% {
			background: #74b9ff;
			margin-top: 0;
			transform: rotate(180deg);
		}
	}

	h1 {
		color: #2c3e50;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: bold;
		margin: 0;
		width: 100%;
		margin: 0;
		text-align: center;
		height: 2rem;
		line-height: 2rem;
		box-shadow: 0 0 20px #00000011;
	}

	h1 > span {
		font-weight: 100;
	}
</style>
